.App {
  min-height: 100vh;
  color: #282c34;
}

.page-title {
  font-size: 36px;
}

.App-header {
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
  height: 65px;
  width: 100%;
  display: flex;
}

li {
  background-color: #282c34;
  list-style-type: none;
  flex: 1;
}

.tab {
  font-size: 28px;
  border-radius: 5px 5px 0 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  text-decoration: none;
}

.tab:hover {
  background-color: #555;
}

.tab.active {
  background-color: white;
  color: #282c34;
}

.header {
  margin: 1em;
  font-weight: 400;
  font-size: 24px;
}
